#!/bin/bash

gluster volume info {{ gluster_volume }} >/dev/null 2>&1
if [ "${?}" != "0" ]
then
  gluster volume create {{ gluster_volume }} replica 2 transport tcp {% for server in gluster_server_list %}{{ server + ':' + gluster_brick_dirs.0 + ' ' }}{% endfor %}

fi

