---
security_rules:
  - proto: tcp
    from_port: 22
    to_port: 22
    cidr_ip: 0.0.0.0/0
{% for instance in ec2_a.instances %}
  - proto: all
    from_port: -1
    to_port: -1
    cidr_ip: {{ instance.public_ip }}/32
{% endfor %}
{% for instance in ec2_b.instances %}
  - proto: all
    from_port: -1
    to_port: -1
    cidr_ip: {{ instance.public_ip }}/32
{% endfor %}
  - rules_egress:
    proto: all
    cidr_ip: 0.0.0.0/0