---
security_rules:
  - proto: tcp
    from_port: 22
    to_port: 22
    cidr_ip: 0.0.0.0/0
{% for instance in groups.ec2 %}
  - proto: all
    from_port: -1
    to_port: -1
    cidr_ip: {{ instance.split('.').0.replace('ec2-','').replace('-','.') }}/32
{% endfor %}
  - proto: all
    group_name: "{{ cluster_id }}-node"